<h1>Sign up</h1>
<div class="row">
  <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-controll'%>

    <%= f.labe :email %>
    <%= f.email_field :email, class: 'form-controll'%>

    <%= f.submit, class: 'btn btn-primary'%>
  <% end %>
</div>