<main class="page">
<header class="navbar">
    <div>
        <%= render 'shared/eventbrite_logo'%>
    </div>

    <div>
    <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "eb-btn"%>
    <% end %>
    </div>
</header>
<div class="row m-0">
<div class="col-6 card p-5 m-5">
<h1>My profile</h1>
<br>
<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>
</div>
</div>

<section class="container">
<h2 class="m-3 text-white">Events</h2>
<%= render 'shared/list_events', {events: @events, type: 'profile_page'} %>
</section>
</main>





