<nav class="eb-home-nav bg-dark">
<header class="navbar">
    <div>
        <%= render 'shared/eventbrite_logo'%>
    </div>
    <div>
    <%if logged_in?%>
         <%= link_to current_user.name , user_path(current_user.id),  class: "eb-btn"%>
         <%= link_to "Logout", logout_path, method: :delete, class: "eb-btn"%>
    <%else%>
        <%= link_to "Login" , login_path,  class: "eb-btn"%>
    <%end%>
    </div>
</header>
<section class="eb-main d-flex justify-content-center align-items-center text-center">
    <div>
        <h1 class="eb-main-text text-white p-5">Made for those who do</h1>
        <%if logged_in? %>
        <%= link_to "Create Events" , new_event_path,  class: "eb-btn"%>
        <%else %>
        <%= link_to "Get started" , signup_path,  class: "eb-btn"%>
        <%end%>
    </div>
</section>
</nav>