<%= render 'home_header' %>
<% @upcomming_events.each do |e| %>
<h4><%= e.title%></h4>
<p><%= e.date %></p>
<% end %>

<% @past_events.each do |e| %>
<h4><%= e.title%></h4>
<p>ago <%=  time_ago_in_words(e.date) %></p>
<% end %>