<main class="page">
<%= render 'shared/header'%>
    <div class="row m-0">
        <div class="col-6 card p-5 m-5">
            <h1><%= @event.title%></h1>
            <p class="card-subtitle">by <%= @event.creator.name %></p>
            <br>
            <div class="card-body">
                <%= @event.description %>
            </div>

            <div>
                <%= @event.date %>
            </div>
        </div>
        <% if same_user?(@event.creator) && @event.date > DateTime.now %>
            <div class="col-4 card p-5 m-5">
                <h3>Add Attendees</h3>
                <%= link_to "Invite", invite_path , class: "eb-btn" %>
            </div>
        <%end%>
    </div>
</main>
