
<div class="container raw">
  <%=render 'shared/header'%> 
  <div class="col-6 card p-5 m-auto"> 
    <%= form_for @invitation do |f| %>
      <%= f.label :event, 'Event:' %>
      <%= f.collection_select :event, Event.where("user_id = ?", current_user), :id, :title, id: 'collection-select', class: "form-control"%>

      <%= f.text_field :invited_user, required: true, placeholder: 'example@mail.com' ,class: 'form-control m-2' %>

      <%= f.submit 'Invite', class: 'btn btn-primary float-right'%>
    <% end %>
</div>