<main class="page">
<header class="navbar">
    <div>
        <%= render 'shared/eventbrite_logo'%>
    </div>

    <div>
        <%= link_to "Home", root_path, class: "eb-btn"%>
    <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "eb-btn"%>
    <% end %>
    </div>
</header>
<div class="row m-0">
<div class="col-6 card p-5 m-5">
<h1>Invite</h1>
<br>
    <%= form_for @invitation do |f| %>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, required: true, placeholder: 'example@mail.com' ,class: 'form-control m-2' %>
      <%= f.hidden_field :event_id, value: params[:eventid] %>
      <%= f.hidden_field :event_creator, value: current_user.id %>
      <%= f.submit 'Invite',  class: 'btn btn-primary float-right'%>
    <% end %>
</div>
</div>
</main>

